@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
.navbar{
    background-color: black;
}
.nav-link{
    color: #fff;
    text-shadow: 3px 3px 3px brown;
    font-weight: 600;
    font-size: 27.8px;
    font-weight: 650px;
}
.navbar-brand img{
    width: 157px;
    height: 115px;
}
.carousel-item img{
    max-width: 100%;
    max-height: 520px;
}
.about{
    height: 900px;
    background-color: black;
}
.about .content{
    margin: 5rem auto;
}
.about p{
    font-size: 2rem;
    margin-top: 100px;
    font-family: 'EB Garamond', serif;
}
.image img{
    position: absolute;
    top: 8%;
    left: 19%;
    width: 380px;
    height: 565px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px wheat;
}
button{
    height: 3rem;
    width: 13rem;
    margin-left: 30px;
    margin-top: 10px;
    background: yellow;
    color: black;
    font-size: 27px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 7px;
}
button:hover{
    background: chartreuse;
    color: darkblue;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 7px;
}
@media only screen and (max-width:1200px){
    .about{
        height: 830px;
    }
    .about p{
        margin-top: -210%;
        font-size: 1.5rem;
    }
    .image img{
        position: absolute;
        left: 10.5%;
        top: 5%;
    }
    .heading h1{
        padding-top: 50px;
    }
    button{
        margin-top: -10px;
    }
}
.list{
        background-color: rgb(29, 28, 28);
}
.gallery{
    background-color: rgb(29, 28, 28);
}
.card{
    margin-bottom: 25px;
    border-radius: 7px;
    background: linear-gradient(rgb(241, 126, 241), rgb(100, 247, 100), rgb(247, 247, 115));
}
.card:hover{
    box-shadow: 3px 3px 4px wheat;
}
.card p{
    margin-left: 25.5%;
    font-weight: 750;
    font-size: 18px;
    color: black;
}
.card img{
    height: 200px;
}
@media only screen and (max-width:1200px){
    .card p{
        margin-left: 38%;
        font-size: 20px;
    }
    .card{
        width: 570px;
        margin-left: 9.5%;
    }
    .card img{
        width: 100%;
        height: 280px;
    }
}
.text-center{
    color: rgb(248, 248, 166);
    text-shadow: 3px 3px 3px tomato;
    font-size: 45px;
    font-weight: 600;
}
.btn{
    background: rgb(5, 1, 1);
    color: rgb(252, 246, 246);
    width: 100px;
    height: 45px;
    margin-left: 30%;
}
.btn:hover{
    background: darkblue;
    color: cornsilk;
}
@media only screen and (max-width: 1200px){
    .btn{
        margin-left: 42%;
    }
}
.contact{
    min-height: 100%;
    width: 100%;
    background: url(../biriyani.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    padding-top: 25px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}
form{
    background: papayawhip;
    opacity: 0.75;
    padding-top: 2rem;
    margin: 1rem 1rem;
    border-radius: 2rem;
    box-shadow: 4px 4px 4px rgb(48, 47, 47);
}
.inputbox{
    position: relative;
    text-align: center;
    opacity: 0.75;
}
input, textarea{
    outline: none;
    opacity: 0.75;
    border: .2rem solid gray;
    border-radius: .2rem;
    margin: 1rem 0;
    padding: 0 1rem;
    background: none;
    height: 4rem;
    width: 90%;
    font-size: 1rem;
}
textarea{
    padding: 1rem;
    resize: none;
    height: 14rem;
    opacity: 0.75;
}
::placeholder{
    top: 3rem;
    left: 7%;
    font-size: 25px;
    opacity: 0.75;
}
.button{
    height: 3rem;
    width: 10rem;
    margin-bottom: 1.5rem;
    margin-left: 37%;
    background: #282727;
    color: #fff;
    border-radius: 10px;
    opacity: 1;
}
@media only screen and (max-width:1200px){
    .button{
        margin-left: 29%;
    }
}
.button:hover{
    background: black;
    color: cyan;
    opacity: 1;
}
.footer{
    background: #282727;
    padding: 1rem 7%;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}
.footer .box-container .box{
    flex: 1 1 14rem;
    margin: 10px 25px;
    padding: 10px;
}
.footer .box-container .box h3{
    font-size: 2.4rem;
    color: #fff;
    padding: 1.7rem 0;
    font-weight: normal;
    font-family: 'Merriweather', serif;
}
.footer .box-container .box p{
    font-size: 1.8rem;
    color: #eee;
    padding: .8rem 0;
    font-family: 'EB Garamond', serif;
}
.footer .box-container .box a{
    font-size: 1.5rem;
    color: #fff;
    padding: .8rem 0.2rem;
    display: block;
    text-decoration: none;
    font-family: 'EB Garamond', serif;
}
.footer .box-container .box a:hover{
    color: rgb(176, 236, 238);
    font-family: 'EB Garamond', serif;
}
.footer .box-container .box p i{
    padding-right: .7rem;
    color: cornsilk;
    cursor: pointer;
}